body {
    margin: 0px;                    /* Убираем белую линию сверзу*/
    margin-left: 2px;               /* Белая линия по краям сайта */
    margin-right: 2px;
}

.header {                      /*Голубое поле сверху*/
    background: #def5ff;
    height: 30px;
    font-size: 2em;
}

ul.nav {                       /* Стили панели навигации (оранжевая полоска)*/
    background: #000000;                    /*Цвет панели навигации*/
    height: 40px;                           /*Высота панели навигации*/
    border-top: 3px solid rgb(0,0,0);       /*Черная полоска сверху над оранжевым блоком*/
    border-bottom: 3px solid rgb(0,0,0);     /*Черная полоска снизу под оранжевым блоком*/
    text-align: center;
}

.nav li {
    display: inline-block;
    border-right: 3px red;
}

.nav a {
    display: inline-block;
    border-right: 3px solid #000;
    font-family: Arial;
    color: white;
    text-decoration: none;
    font-size: 1em;
}
/* внешние границы таблицы серого цвета толщиной 1px */
table {
   border: 1px solid grey;
}
/* границы ячеек первого ряда таблицы */
.main_table th{
   border: 1px solid grey;                  /*Границы основной таблицы*/
   width: 400px;                            /*Ширина основной таблицы*/
}
/*Свойства кабинета*/
.parlor {
  margin: 5px;
  border: solid 3px brown;
  padding: 5px;
  color: brown;
}

/*Свойства панели (телекоммуникационного шкафа)*/
.panel {
  margin: 5px;
  border: dashed 2px black;
  padding: 5px;
  color: black;
}
/*Свойства кросса*/
.cross {
  margin: 5px;
  border: solid 3px black;
  padding: 5px;
  color: black;
}
/*Свойства Кабеля*/
.cable {
  margin: 5px;
  border: solid 3px red;
  padding: 5px;
  color: black;
}
.fiber_tab {
table-layout: auto;
}
/*Вертикальный текст в таблице волокон*/
td {
    border: 1px black solid;
    padding: 5px;
}
.rotate {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 1.5em;
}
.rotate div {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: auto;  /*Ширина таблицы с названием кабеля*/
}

/* Стили для абзаца с пояснениями на страницах типа add_...*/
.helper {
    font-size: 20px;
    margin: 10px;
    margin: 10px;
}
/* Стили для форм добавления */
.form_add {
    padding: 40px;
}
.form_submit {
    margin: 20px;
    padding: 10px;
}
/*Стили для дверей в помещениях*/
.door {
    position: absolute;
    margin: 10px;
    width: 60px;
    height: 65px;

}
/*стиль для вложенной дуги из которой получается дверь*/
.door_right {
    width: 60px;
    height: 60px;
    border-top-right-radius: 60px;
    background: grey;

}
/*стиль для вложенной дуги из которой получается дверь*/
.door_left {
    width: 60px;
    height: 60px;
    border-top-left-radius: 60px;
    background: grey;

}
/*стиль для вложенного прямоугольника(стена) из которого получается дверь*/
.wall {
    background: white;
    width: 60px;
    height: 5px;
    border: solid 1px black;
}
/*стили для шкафов в помещениях*/
.panels {
    background: grey;
    width: 50px;
    height: 50px;
    border: solid 1px grey;
}
/* Стили для мгновенных сообщений */
.alert {
padding: 10px;
border-radius: 4px;
color: black;   /*цвет шрифта в сообщении*/
}
.alert.success {
  border: 1px solid #21DB56;
  background: #AEFFC5;
}
.alert.error {
  border: 1px solid #FF4343;
  background: #FF9C9C;
}

