{% extends 'base.html' %}

{% block content %}
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    <form name="Item_1" action="/add" method="POST">
      <label for="exampleFormControlFile2">Добавляем</label>
        <select name="add_items">
          {% for items in add_items %}
            <option value="{{ items }}" SELECTED>{{ items }}</option>
          {% endfor %}
        </select>
      <input type="submit" value="Добавить">
    </form>
{% endblock %}