{% extends 'base.html' %}

{% block content %}
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    <p><h3 class="helper">Добавляются кабинеты, коридоры или участки территории предприятия</h3></p>
    <form name="Item_2" action="/add_room" method="post" class="form_add">
        <label for="example"> В Здании/на территории</label>
            <select name="parent_item">
                {% for items in parent_item %}
                    <option value="{{ items }}" SELECTED>{{ items }}</option>
                {% endfor %}
            </select>
        <p><label>Название кабинета или территории: </label> <input type="text" name="room_name" value="" required></p>
        <p><label>Номер кабинета (если кабинет): </label> <input type="text" name="room_number" value=""></p>           <!--required - обязательно заполнить-->
        <p><input type="submit" value="Отправить" class="form_submit"></p>
    </form>
{% endblock %}
