<!DOCTYPE html>
<html lang="en">
<head>
    {% block title -%}
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/css/reset.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    {% endblock title %}
</head>
<body>
{%- block menu -%}
<div class="header">
    <h1>OPTIKA ONLINE by zampolit</h1>
</div>
<ul class="nav">        <!--это меню -->
    {% for m in menu %}
        <li><a href="{{m.url}}">{{m.title}}</a></li>
    {% endfor %}
</ul>
{% endblock %}
{% block content %}
<table class="main_table">
    <tr>    <!--1 ряд с ячейками зданий-->
        {% for f in facility %}
        <th>{{f.title}}</th>
        {% endfor %}
    </tr>
    {% for f in range(1) %}      <!-- Одна строка в которой все кабинеты -->
    <tr>
        {% for f in facility %}     <!--Для каждого из зданий отдельный столбец-->
        <th>                        <!--Столбец с кабинетами-->
            {% for p in parlor %}   <!--для каждого из кабинетов-->
                <div class="parlor">              <!--div это кабинет-->
                    <h5> {{p.number}} </h5>         <!--номер кабинета-->
                    <div class="panel">             <!--div это панель(телекоммуникационный шкаф)-->
                        <h1>Панель 1</h1>
                        <div class="cross">         <!--div это кросс -->
                            <h5>ОК-1</h5>
                            <table class="internal_table">
                                <tr><th>1</th> <th> 1 строка </th></tr>
                                <tr><th>2</th> <th> 2 строка </th></tr>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </th>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
</body>
</html>