{% extends 'base.html' %}

{% block content %}
<style>
    .rectangle {
    position: relative;
    width: 500px;
    height: 500px;

    border: 5px solid black;
    background: #DDDDDD;
    margin: auto;
    }
</style>
Вообще ничего не менял, нужно все переделывать!!!
    <h1>Отображается оборудование в данном юните: {{ unit.title }}</h1>
    <table class="maintable">
        <tr>    <!-- 1 строка с панелями-->
            <th>    <!-- DIV Вид спереди -->
                <div class="panels_expl" >  <!-- div class='panel' это шкаф вид спереди -->
                    {% for unit in range(1, (panel.units)+1) %}
                        <div class="unit">   <!-- div class='unit' это каждый юнит в шкафу -->
                            <h5> <a href=showUnit{{unit}}> Unit{{unit}} </a> </h5>                 <!--номер кабинета-->
                        </div>
                    {% endfor %}
                </div>
            </th>
            <th>    <!-- DIV Вид сзади -->
                <div class="panels_expl">  <!-- div class='panel' это шкаф вид сзади -->
                    <div class="unit">   <!-- div class='unit' это каждый юнит в шкафу -->

                    </div>
                </div>
            </th>
        </tr>
        <tr>    <!-- 2 строка с комментариями-->
            <th>Вид спереди</th>
            <th>Вид сзади</th>
        </tr>
    </table>

{% endblock %}
