{% extends 'base.html' %}

{% block content %}
<style>
    .rectangle {
    position: relative;
    height: {{parlor.width/5}}px;
    width: {{parlor.length/5}}px;
    border: 5px solid black;
    background: #DDDDDD;
    margin: auto;
    }
</style>
    <h1>Экспликация помещения: {{ parlor.title }}</h1>
    <div class="rectangle"> <!-- div class='rectangle' это помещение-->
        {% for list_elem in doors %}
                <div class="door" style="top:{{list_elem[5]}}px;left:{{list_elem[6]}}px;transform:rotate({{list_elem[7]}}deg)"> <!-- div class='door' это дверь позиционируем в соотв. с positionX, positionY из БД двери-->
                    {% if list_elem[3]=='right' %}
                        <div class="door_right"></div>  <!-- Правая дверь -->
                        <div class="wall"></div>
                    {% elif list_elem[3]=='left' %}
                        <div class="door_left"></div>   <!-- Левая дверь -->
                        <div class="wall"></div>
                    {% else %}
                        <div class="door_doble"></div>  <!-- Двойная дверь -->
                    {%endif%}
                </div>
        {% endfor %}
        {% for list_elem in panel %}
                <div class="panels" style="top:{{list_elem[6]}}px;left:{{list_elem[7]}}px;transform:rotate({{list_elem[8]}}deg)"> <!-- div class='panel' это шкаф, позиционируем в соотв. с positionX, positionY из БД panel-->
                    {% if list_elem[3]=='right' %}
                        <div class="panel"></div>  <!-- Правая дверь -->
                        <div class="panel"></div>
                    {% elif list_elem[3]=='left' %}
                        <div class="door_left"></div>   <!-- Левая дверь -->
                        <div class="wall"></div>
                    {% else %}
                        <div class="door_doble"></div>  <!-- Двойная дверь -->
                    {%endif%}
                </div>
        {% endfor %}
        <!-- div class='panel' это шкафы телекоммуникационные (добавить ниже)-->

    </div>
    <p><h4>Ширина помещения: {{parlor.width}}</h4></p>
    <p><h>Длинна помещения: {{parlor.length}}</h></p>
    <p><h>Высота помещения: {{parlor.height}}</h></p>
{% endblock %}